body, .navbar {
    background-color: #D9CFC1;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading {
    visibility: hidden;
}
#load-word {
    position: relative;
    left: -35px;
}
.poster {
    height: 400px;
    width: auto;
}
.user-add-input{
    width: 300px;
}
.jumbo-header {
    text-align: center;
}

/*.row card-deck {*/
/*    box-shadow: 10px 5px rgba(128, 128, 128, 0.41);*/
/*}*/

.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.text {
    border: 2px solid #b2b7c2;
    font-size: 22px;
    -webkit-transition: box-shadow linear 1s;
    transition: box-shadow linear 1s;
}
.text:focus {
    box-shadow: 0 0 20px #143b91;
}