/*@media screen and (min-width: 300px) {*/
/*    !* min widith means larger than the number *!*/
/*    !* this also applies certain content above 300 *!*/
/*    !* example if there was a background tag in this code section*/
/*       the backround color would only change colors above 300 mean 301 and above*/
/*     *!*/
/*    !* any content that is within the curly braces of the media query can will also*/
/*    be changed when above 300*/
/*     *!*/
/*}*/

/* range of screen style */
/*@media screen and (min-width: 300px) and (max-width: 700px) {*/
/*    !* the added (and max width) will only allow the change to occur within the min*/
/*        and max pixels(px)*/
/*        If css background is set to a color by default the media querie will take over*/
/*        screen once it hits the min and max width*/
/*        [!important---tag overrides specificity any other tag applied to certain css style]*/
/*     *!*/
/*    !* if the using a navbar and you want to have it adjust with the screen min&ma.width*/
/*        you would also put the nav bar properties in a media querie. Unless specifically */
/*        changing flex display it will inheret the parent container flex*/
/*     *!*/
/*}*/

/* breakpoint */
h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    background-size: cover;
}
nav {
    padding-top: 0;
    border: solid black;
    display: flex;
    /*flex-direction: column;*/
    /*background-image: url("https://c8.alamy.com/comp/HFBNYW/san-diego-sept-5-2012-students-at-the-search-and-rescue-swimmer-school-HFBNYW.jpg");*/
    text-align: center;
    width: 100%;
    height: 500px;

}

nav a{
    color: white;
    list-style: none;
    text-decoration: none;
}

img {
    padding: 0;
    background-size: cover;
    width: 100%;

}

nav ul li{
    display: inline-block;
}
body {
    margin: 0;
    padding: 0;
    background: #26b6e6;
}

.banner {
    padding: 0;
    margin: 0;
    width: 100%;

}

footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 0;

}

footer {
    list-style: none;
}