.container {
    border: 1px solid gray;
    background: black;
    width: 100%;
    color: white;

}

h1 {
    margin: 0;
    padding: 0;
}

#headinglogo{
    margin-top: .6em;
    /*padding: 0px;*/

}

.logo-div a {
    margin-top: 0em;
}

.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: .5em 0;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    width: 90%;
    color: darkgrey;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: .2px 0px;
    border-radius: 50%;

}
.bottom-footer {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}


h5{
    display: flex;
   justify-content: center;
    margin: 0;
}

.icon-wrapper {
    border-radius: 50%;
    background-color: black;
}

.fa-twitter img {
    border: .5em;
    border-radius: 50%;
    color: black;
    background-color: black;
}

.fa-google-plus-g img {
    border: .5em;
    border-radius: 50%;
}

.fa-linkedin-in img {
    border: .5em;
    border-radius: 50%;
}