.jumbotron-fluid {
    text-align: center;
}


/** CSS for containers, divs elements*/
.container {
    width: 75%;
    margin-bottom: 10px;

}

#card1 {

}

.card-header {
    text-align: center;
}
#cdh1 {
    text-align: center;
}

.card-body {
    text-align: center;
}

/** CSS for body elements*/
body {

}
